In [ ]:
# import libraries
import os
import csv
import copy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# add drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Make Participant List
participants = []
for i in range(1,18):
  if i != 1 and i!=12:
    participants.append("S"+ str(i))

print(participants)

participants_id = [x[1:] for x in participants]
print(participants_id)

['S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S13', 'S14', 'S15', 'S16', 'S17']
['2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '13', '14', '15', '16', '17']

# **Extracting Labels**
The ground truth of this dataset is in each participant's quest file (formatted S#_quest.csv). This file contains lots of information including time stamps that indicate different stages in the participant's experiment (including stress (TSST), amusement, meditation, etc.).

The time stamps are formatted as minutes.seconds and are based on the beginning of the chest data measurements. 

First the labels need to be extracted from the quest files. We will be labelling our data as either "stressed" (1) or not stressed (0). The labels will be added to a neat csv file.

In [ ]:
# Function to access labels
def getLabel(participant):
  """Function that accesses the label for a given participant. The labels are formatted as S#_quest.csv. Function returns pandas dataframe.
  participant: number that represents a file in the dataset. 
  """
  path = '/content/drive/My Drive/stress_data_unzipped/WESAD/S{}/S{}_quest.csv'.format(participant,participant)
  label = pd.read_csv(path)

  return label

In [ ]:
# Test
label_s2 = getLabel(2)
display(label_s2)

                   # Subj;S2;;;;;;;;;;;;;;;;;;;;;;;;;
0   # ORDER;Base;TSST;Medi 1;Fun;Medi 2;sRead;fRea...
1   # START;7.08;39.55;70.19;81.25;93.38;54.42;89....
2   # END;26.32;50.3;77.1;87.47;100.15;56.07;91.15...
3                          ;;;;;;;;;;;;;;;;;;;;;;;;;;
4   # PANAS;1;1;3;2;1;3;1;1;1;2;2;2;2;1;4;3;4;4;2;...
5   # PANAS;3;2;4;1;3;3;1;2;1;4;2;4;3;1;5;4;4;4;2;...
6   # PANAS;1;1;2;3;1;2;1;1;1;1;1;1;3;1;2;1;2;3;1;...
7   # PANAS;1;1;2;3;1;1;1;1;1;1;1;1;2;1;4;1;1;3;1;...
8   # PANAS;1;1;1;2;1;1;1;1;1;1;1;1;2;1;2;1;1;2;1;...
9                          ;;;;;;;;;;;;;;;;;;;;;;;;;;
10             # STAI;3;2;1;4;2;3;;;;;;;;;;;;;;;;;;;;
11             # STAI;1;3;2;1;3;1;;;;;;;;;;;;;;;;;;;;
12             # STAI;4;1;1;4;2;4;;;;;;;;;;;;;;;;;;;;
13             # STAI;3;1;1;3;1;4;;;;;;;;;;;;;;;;;;;;
14             # STAI;4;1;1;4;1;4;;;;;;;;;;;;;;;;;;;;
15                         ;;;;;;;;;;;;;;;;;;;;;;;;;;
16                  # DIM;7;2;;;;;;;;;;;;;;;;;;;;;;;;
17                  # DIM;5;4;;;;;;;;;;;;;;;;;;;;;;;;
18                  # DIM;7;2;;;;;;;;;;;;;;;;;;;;;;;;
19                  # DIM;8;1;;;;;;;;;;;;;;;;;;;;;;;;
20                  # DIM;7;2;;;;;;;;;;;;;;;;;;;;;;;;
21                         ;;;;;;;;;;;;;;;;;;;;;;;;;;
22             # SSSQ;5;5;4;4;3;5;;;;;;;;;;;;;;;;;;;;

In [ ]:
def getTimeStamps(participant):
  """ Function that accesses the labels of the given participant and returns a dictionary that 
  contains the type of activity (Base, TSST, Medi1, Fun, Medi2) as the key and a tuple of start and
  end time as a value.
  """

  label = getLabel(participant)
  # first line of label is the order to time segments, 
  # second line is start times, third line is end times. 

  # access the rows and split into list
  order = label.iloc[0][0].split(";")
  start = label.iloc[1][0].split(";")
  end = label.iloc[2][0].split(";")

  # find index of "Medi 2" in the order list, which is the last time segment I want to keep
  index = order.index("Medi 2")

  # cut all the lists based on index, and remove first value
  order = order[1:index+1]
  start = start[1:index+1]
  end = end[1:index+1]

  # make dictionary
  label_dict = {}

  for i in range(len(order)):
    label_dict[order[i]] = (start[i], end[i])
  
  return label_dict

In [ ]:
label_dict2 = getTimeStamps(2)
print(label_dict2)

{'Base': ('7.08', '26.32'), 'TSST': ('39.55', '50.3'), 'Medi 1': ('70.19', '77.1'), 'Fun': ('81.25', '87.47'), 'Medi 2': ('93.38', '100.15')}

In [ ]:
df = pd.DataFrame(columns = ["label", "name", "start_time", "end_time", "label_note"])
df.loc[1] = [0,'S2', 7.08, 26.32, 'base']

df

  label name  start_time  end_time label_note
1     0   S2        7.08     26.32       base

In [ ]:
# helper function to convert minute.second format to second

def getSeconds(timestamp):
 # time stamp is string

  # if there is no "." in the time stamp then assume no seconds
  # when there are no seconds in the time stamp the data is NOT
  # formatted as such: e.g. 7.00

  if ('.' not in timestamp):
    total_seconds = int(timestamp)*60

  else:
    time = timestamp.split('.')
    minutes = int(time[0])
    seconds = int(time[1])
    total_seconds = minutes*60 + seconds

  return total_seconds

In [ ]:
# function that creates pandas dataframe of labeled time stamps
# labels will only either be stressed/not stressed

def makeLabelsDF(participant):
  labels_dict = getTimeStamps(participant)

  df = pd.DataFrame(columns = ["label","name","start_time","end_time","label_note"])

  counter = 1

  for key in labels_dict:
    timestamps = labels_dict[key]
    starttime = getSeconds(timestamps[0])
    endtime = getSeconds(timestamps[1])

    # make label
    # label either 0 or 1. 0 = not stressed, 1 = stressed
    # if key is TSST, then stress. if not, then not stressed
    label = -1

    if (key == "TSST"):
      label = 1
    else:
      label = 0

    row = [label, 'S{}'.format(participant), starttime, endtime, key]
    df.loc[counter] = row
    counter += 1

  return df

In [ ]:
# test for S2
df_s2 = makeLabelsDF(2)
display(df_s2)

# test for s4
df_s4 = makeLabelsDF(4)
display(df_s4)

  label name start_time end_time label_note
1     0   S2        428     1592       Base
2     1   S2       2395     3003       TSST
3     0   S2       4219     4621     Medi 1
4     0   S2       4885     5267        Fun
5     0   S2       5618     6015     Medi 2

  label name start_time end_time label_note
1     0   S4        352     1503       Base
2     0   S4       1899     2291        Fun
3     0   S4       2752     3180     Medi 1
4     1   S4       3662     4335       TSST
5     0   S4       5743     6124     Medi 2

In [ ]:
# make labels for all participants and save
path = '/content/drive/My Drive/stress_data_unzipped/WESAD/S{}/'

for participant in participants_id:
  df = makeLabelsDF(participant)
  df.to_csv(path.format(participant) + "labels.csv", index=False)

# **Splitting Labels**

Labels are split into 60 second segments

In [ ]:
def getNewLabels(participant):
  # get newly made labels as pandas dataframe

  path = '/content/drive/My Drive/stress_data_unzipped/WESAD/S{}/labels.csv'.format(participant)
  df = pd.read_csv(path)
  return df

In [ ]:
df_test = getNewLabels(2)
display(df_test)

   label name  start_time  end_time label_note
0      0   S2         428      1592       Base
1      1   S2        2395      3003       TSST
2      0   S2        4219      4621     Medi 1
3      0   S2        4885      5267        Fun
4      0   S2        5618      6015     Medi 2

In [ ]:
def splitLabels(participant):
  # function returns pandas df

  # get labels of participant
  labels = getNewLabels(participant)
  

  # list of list to hold slices
  slices = []

  # iterate through each labelled time period
  for i in range(len(labels)):
    segment = labels.iloc[i]

    # extract information 
    segment_label = segment['label']
    segment_name = segment['name']
    segment_note = segment['label_note']
    segment_start = int(segment['start_time'])
    segment_end = int(segment['end_time'])

    # calculate how many 1 minute segments we can make
    duration = segment_end - segment_start
    num_slices = int(duration/60)

    # make slices
    for a_slice in range(num_slices):
      label_row = [segment_label, segment_name, segment_start, segment_start+60, segment_note]
      slices.append(label_row)
      
      segment_start += 60

  # make df
  header =  ['label', 'name', 'start_time', 'end_time', 'label_note']
  sliced_labels = pd.DataFrame(slices, columns = header)

  return sliced_labels

In [ ]:
# test
print('original labels:')
print("")
display(getNewLabels(2))

print("")
print("Split labels: ")
print("")
sliced_df = splitLabels(2)
display(sliced_df)

original labels:

   label name  start_time  end_time label_note
0      0   S2         428      1592       Base
1      1   S2        2395      3003       TSST
2      0   S2        4219      4621     Medi 1
3      0   S2        4885      5267        Fun
4      0   S2        5618      6015     Medi 2

Split labels:

    label name  start_time  end_time label_note
0       0   S2         428       488       Base
1       0   S2         488       548       Base
2       0   S2         548       608       Base
3       0   S2         608       668       Base
4       0   S2         668       728       Base
5       0   S2         728       788       Base
6       0   S2         788       848       Base
7       0   S2         848       908       Base
8       0   S2         908       968       Base
9       0   S2         968      1028       Base
10      0   S2        1028      1088       Base
11      0   S2        1088      1148       Base
12      0   S2        1148      1208       Base
13      0   S2        1208      1268       Base
14      0   S2        1268      1328       Base
15      0   S2        1328      1388       Base
16      0   S2        1388      1448       Base
17      0   S2        1448      1508       Base
18      0   S2        1508      1568       Base
19      1   S2        2395      2455       TSST
20      1   S2        2455      2515       TSST
21      1   S2        2515      2575       TSST
22      1   S2        2575      2635       TSST
23      1   S2        2635      2695       TSST
24      1   S2        2695      2755       TSST
25      1   S2        2755      2815       TSST
26      1   S2        2815      2875       TSST
27      1   S2        2875      2935       TSST
28      1   S2        2935      2995       TSST
29      0   S2        4219      4279     Medi 1
30      0   S2        4279      4339     Medi 1
31      0   S2        4339      4399     Medi 1
32      0   S2        4399      4459     Medi 1
33      0   S2        4459      4519     Medi 1
34      0   S2        4519      4579     Medi 1
35      0   S2        4885      4945        Fun
36      0   S2        4945      5005        Fun
37      0   S2        5005      5065        Fun
38      0   S2        5065      5125        Fun
39      0   S2        5125      5185        Fun
40      0   S2        5185      5245        Fun
41      0   S2        5618      5678     Medi 2
42      0   S2        5678      5738     Medi 2
43      0   S2        5738      5798     Medi 2
44      0   S2        5798      5858     Medi 2
45      0   S2        5858      5918     Medi 2
46      0   S2        5918      5978     Medi 2

In [ ]:
# slice labels for all participants
path = '/content/drive/My Drive/stress_data_unzipped/WESAD/S{}/labels_split.csv'

for participant in participants_id:
  split_df = splitLabels(participant)
  split_df.to_csv(path.format(participant), index=False)

In [ ]:
def getSplitLabels(participant):
  path = '/content/drive/My Drive/stress_data_unzipped/WESAD/S{}/labels_split.csv'
  return pd.read_csv(path.format(participant))

In [ ]:
display(getSplitLabels(2))
display(getSplitLabels(6))

    label name  start_time  end_time label_note
0       0   S2         428       488       Base
1       0   S2         488       548       Base
2       0   S2         548       608       Base
3       0   S2         608       668       Base
4       0   S2         668       728       Base
5       0   S2         728       788       Base
6       0   S2         788       848       Base
7       0   S2         848       908       Base
8       0   S2         908       968       Base
9       0   S2         968      1028       Base
10      0   S2        1028      1088       Base
11      0   S2        1088      1148       Base
12      0   S2        1148      1208       Base
13      0   S2        1208      1268       Base
14      0   S2        1268      1328       Base
15      0   S2        1328      1388       Base
16      0   S2        1388      1448       Base
17      0   S2        1448      1508       Base
18      0   S2        1508      1568       Base
19      1   S2        2395      2455       TSST
20      1   S2        2455      2515       TSST
21      1   S2        2515      2575       TSST
22      1   S2        2575      2635       TSST
23      1   S2        2635      2695       TSST
24      1   S2        2695      2755       TSST
25      1   S2        2755      2815       TSST
26      1   S2        2815      2875       TSST
27      1   S2        2875      2935       TSST
28      1   S2        2935      2995       TSST
29      0   S2        4219      4279     Medi 1
30      0   S2        4279      4339     Medi 1
31      0   S2        4339      4399     Medi 1
32      0   S2        4399      4459     Medi 1
33      0   S2        4459      4519     Medi 1
34      0   S2        4519      4579     Medi 1
35      0   S2        4885      4945        Fun
36      0   S2        4945      5005        Fun
37      0   S2        5005      5065        Fun
38      0   S2        5065      5125        Fun
39      0   S2        5125      5185        Fun
40      0   S2        5185      5245        Fun
41      0   S2        5618      5678     Medi 2
42      0   S2        5678      5738     Medi 2
43      0   S2        5738      5798     Medi 2
44      0   S2        5798      5858     Medi 2
45      0   S2        5858      5918     Medi 2
46      0   S2        5918      5978     Medi 2

    label name  start_time  end_time label_note
0       0   S6         677       737       Base
1       0   S6         737       797       Base
2       0   S6         797       857       Base
3       0   S6         857       917       Base
4       0   S6         917       977       Base
5       0   S6         977      1037       Base
6       0   S6        1037      1097       Base
7       0   S6        1097      1157       Base
8       0   S6        1157      1217       Base
9       0   S6        1217      1277       Base
10      0   S6        1277      1337       Base
11      0   S6        1337      1397       Base
12      0   S6        1397      1457       Base
13      0   S6        1457      1517       Base
14      0   S6        1517      1577       Base
15      0   S6        1577      1637       Base
16      0   S6        1637      1697       Base
17      0   S6        1697      1757       Base
18      0   S6        1757      1817       Base
19      0   S6        1817      1877       Base
20      1   S6        2475      2535       TSST
21      1   S6        2535      2595       TSST
22      1   S6        2595      2655       TSST
23      1   S6        2655      2715       TSST
24      1   S6        2715      2775       TSST
25      1   S6        2775      2835       TSST
26      1   S6        2835      2895       TSST
27      1   S6        2895      2955       TSST
28      1   S6        2955      3015       TSST
29      1   S6        3015      3075       TSST
30      1   S6        3075      3135       TSST
31      0   S6        4554      4614     Medi 1
32      0   S6        4614      4674     Medi 1
33      0   S6        4674      4734     Medi 1
34      0   S6        4734      4794     Medi 1
35      0   S6        4794      4854     Medi 1
36      0   S6        4854      4914     Medi 1
37      0   S6        5585      5645        Fun
38      0   S6        5645      5705        Fun
39      0   S6        5705      5765        Fun
40      0   S6        5765      5825        Fun
41      0   S6        5825      5885        Fun
42      0   S6        5885      5945        Fun
43      0   S6        6540      6600     Medi 2
44      0   S6        6600      6660     Medi 2
45      0   S6        6660      6720     Medi 2
46      0   S6        6720      6780     Medi 2
47      0   S6        6780      6840     Medi 2
48      0   S6        6840      6900     Medi 2